---
import BaseLayout from "../layouts/BaseLayout.astro";
import Header from "../components/astro/Header.astro";
---

<BaseLayout>
  <Header />
  <div class="grid grid-cols-2">
    <div>
      <h1 class="text-left">hi!</h1>
      <div class="items-flex">
asd
      </div>
    </div>
    <div class="font-mono">
		asdf
      <!-- description goes here -->
      <slot />
    </div>
  </div>
</BaseLayout>
