---
import Header from "../components/astro/Header.astro";
import BaseLayout from "../layouts/BaseLayout.astro";
const { frontmatter } = Astro.props;
---
<BaseLayout>

  <Header />

    <div class="flex justify-center pt-8">
      <h1>{frontmatter.title}</h1>
      <article class="prose justify-center text-center">
        <slot />
        <!-- your content is injected here -->
      </article>
    </div>

</BaseLayout>